# Editor directories and files
.idea

# Package Manager
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.npmrc

# System
.DS_Store

# Bundle
dist
coverage

# local env files
*.local
